{{ attach_library('vanderbilt_d8/flyout-menu') }}
{# Menu icons that trigger flyout functionality. #}
<input type="checkbox" class="mc__navbar__checkbox" id="mc__navbar__show__hide">
<label class="mc__navbar__checkbox__label mc__navbar__checkbox__label--menu-icon" for="mc__navbar__show__hide">
  <span class="mc__sprite mc__sprite--hamburger-icon"></span>
  <span class="visible-desktop hide-tablet hide-mobile hidden-xs hidden-sm">{{ 'MENU'|t }}</span>
  <span class="mc__sprite mc__sprite--search-icon"></span>
</label>
