// Buttons
//
// Markup: buttons.twig
//
// Style guide: Components.buttons

// Import site utilities.
@import '../../global/utils/init';

.btn,
.btn-default {
  @include button;
}

.btn-white {
  @include button;
  background-color: $color-white;
  border: 1px solid $color-slate;
  color: $color-silver;
}

.btn-cancel {
  @include button;
  background-color: $color-white;
  color: $color-black;
}

.btn-no-bg {
  @include button;
  background-color: transparent;
  color: $color-menu-steel;
  border: 0;

  &:hover,
  &:active {
    background-color: transparent;
    text-decoration: underline;
    color: $color-menu-steel;
    border: 0;
    box-shadow: none;
  }
}

.btn--tab {
  background-color: transparent;
  color: $color-pacific;
  border: 0;
  border-radius: 0;

  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: $color-pacific;
    text-decoration: underline;
  }
}

a#phone-svcline-appt.btn.btn-default.btn-lg { // sass-lint:disable-line no-ids no-qualifying-elements
  @include button;
  padding: 4px 0;
  width: 95px;
  margin-bottom: 20px;
}

.search__button {
  width: 80px;
}
