<button id="vanderbilt__search__button" type="submit" class="btn btn-default search__button">Search</button>
<button class="view__more__recommended__results btn btn-cancel">Show more</button>
<button class="btn btn-cancel">Cancel</button>