{{ attach_library('vanderbilt_d8/image-block') }}
{{ attach_library('vanderbilt_d8/sidebar-block') }}

<article class="image-block__item block-bean block-hastitle block sidebar">
  <div class="block-inner">
    <div class="block-title-wrapper">
      <h1>{{ title }}</h1>
    </div>
    <div class="image-block__content block-content">
      <div class="content">
        {{ image }}
      </div>
    </div>
  </div>
</article>
