<div class="col-sm-12 21 ">
  <div class="big-module sectioncontent clearfix" id="section-1"><div class="innermodule clearfix"><a name="section-1"></a><div class="test2"></div><h2></h2>

  <p>Strategic Marketing's Digital Engagement and Design department serves the Medical Center community through professional UX and visual design, multimedia, and expert Web development.&nbsp;</p>

  <p>Contact us if you need a website, official logos or help with brand style standards.</p>

  <p>For web support and new sites<a href="mailto:sitebuilder@vanderbilt.edu?subject=Web%20support"> email the web team</a>.</p>

  <p>For everything else, <a href="mailto:design@vanderbilt.edu?subject=design%20support">email the design team</a>.&nbsp;</p>

  <p>Quick Links</p>

  <ul>
  	<li><a href="/WDCS/23074">Logos/graphic standards</a></li>
  	<li><a href="/WDCS/23072">Websites</a></li>
  	<li><a href="/WDCS/39087">Mobile development</a></li>
  	<li><a href="/root/vumc.php?site=WDCS&amp;doc=35634">UX and visual design</a></li>
  	<li><a href="/WDCS/40848">PowerPoint Templates</a></li>
  	<li><a href="/WDCS/47037">Presentation Posters</a></li>
  	<li><a href="/WDCS/35634#video">Video</a></li>
  	<li><a href="/WDCS/35634#editorial">Writing</a></li>
  	<li><a href="/WDCS/35067">Mobile app support</a></li>
  	<li><a href="/WDCS/35634">Photography</a></li>
  	<li><a href="/WDCS/38824">VUMC&nbsp;</a><a href="/WDCS/38824">Video Trailers for download</a></li>
  	<li><a href="/WDCS/42731">Mobile device wallpapers</a></li>
  </ul>
</div>
