// Content
//
// Markup: content.twig
//
// Style guide: Components.content

// Import site utilities.
@import '../../global/utils/init';

.big-module a:link,
.big-module a:visited,
.medium-module a:link,
.medium-module a:visited,
.small-module a:link,
.small-module a:visited {
  color: $color-pacific;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.sectioncontent p {
  font-family: $font-family-base;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0 0 15px;
  line-height: 1.6em !important; // sass-lint:disable-line no-important
}
