{#
/**
 * @file
 * Theme override to display a person's publication when the data is remote.
 */
#}

<i class="publication-no-image-icon fa fa-fw fa-file-text"></i>
<div class="media-body">
  {{ publication|raw }}
</div>
