{{ attach_library('vanderbilt_d8/giving-block') }}
<div class="block giving-block">
  <a class="giving-block__link" href="{{ link }}" target="_blank">
    <h2 class="giving-block__heading">{{ heading }}</h2>
    <p class="giving-block__subheading">{{ subheading }}</p>
    <span class="giving-block__bg-image"></span>
  </a>
</div>
