<section class="col-sm-12 section-main-content" role="main" id="main">
  <div class="region region-content">
    <div id="block-barista-block-placement-content" class="block block-barista-block-placement block-notitle">
      <div class="block-inner">
        <div class="block-inner-inner">
          <div class="block-content">
            <div id="block-barista-block-placement-barista-title" class="block block-barista-block-placement block-notitle">
              <div class="block-inner">
                <div class="block-inner-inner">
                  <div class="block-content">
                    <header class="header-page"><h1>Resource Request Form</h1></header>
                  </div> <!-- /.content -->
                </div>
              </div>
            </div> <!-- /.block -->
            <div id="block-system-main" class="block block-system block-notitle">
              <div class="block-inner">
                <div class="block-inner-inner">
                  <div class="block-content">
                    <article id="node-3" class="node node-webform node-promoted" about="/criss/resource-request-form" typeof="sioc:Item foaf:Document">
                    <div class="content">
                      <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                        <div class="field-items">
                          <div class="field-item even" property="content:encoded"><p>The Resource Request Form provides a mechanism for investigators to request access to clinical&nbsp;specimens.&nbsp;Please note that this form&nbsp;is a mechanism by which&nbsp;the advisory&nbsp;committee&nbsp;can review requests and support appropriate projects. Submission of this request form does not guarantee access to specific resources.&nbsp;</p>
<p>Please complete the&nbsp;questions and provide any&nbsp;restrictions pertinent to your request.&nbsp;If you have questions please contact Dr. Peter Clark (<a href="mailto:Peter.Clark@Vanderbilt.Edu">Peter.Clark@Vanderbilt.Edu</a>)</p>
                          </div>
                        </div>
                      </div>
                    <form class="webform-client-form webform-client-form-3" enctype="multipart/form-data" action="/criss/resource-request-form" method="post" id="webform-client-form-3" accept-charset="UTF-8">
                      <div>
                        <div class="form-item webform-component webform-component-textfield webform-component--title">
                          <label for="edit-submitted-title">Title <span class="form-required" title="This field is required.">*</span></label>
                          <input required="required" type="text" id="edit-submitted-title" name="submitted[title]" value="" size="60" maxlength="128" class="form-text required">
                          <div class="description">Provide a descriptive project title</div>
                        </div>
                        <div class="form-item webform-component webform-component-textfield webform-component--first-name">
                          <label for="edit-submitted-first-name">First Name <span class="form-required" title="This field is required.">*</span></label>
                          <input required="required" type="text" id="edit-submitted-first-name" name="submitted[first_name]" value="" size="60" maxlength="128" class="form-text required">
                          <div class="description">PI's first name</div>
                        </div>
                        <div class="form-item webform-component webform-component-textfield webform-component--last-name">
                          <label for="edit-submitted-last-name">Last Name <span class="form-required" title="This field is required.">*</span></label>
                         <input required="required" type="text" id="edit-submitted-last-name" name="submitted[last_name]" value="" size="60" maxlength="128" class="form-text required">
                         <div class="description">PI's last name</div>
                        </div>
                        <div class="form-item webform-component webform-component-textfield webform-component--position">
                          <label for="edit-submitted-position">Academic Position <span class="form-required" title="This field is required.">*</span></label>
                         <input required="required" type="text" id="edit-submitted-position" name="submitted[position]" value="" size="60" maxlength="128" class="form-text required">
                         <div class="description">Provide academic position held by the PI</div>
                        </div>
                        <div class="form-item webform-component webform-component-textfield webform-component--institution">
                          <label for="edit-submitted-institution">Institution <span class="form-required" title="This field is required.">*</span></label>
                         <input required="required" type="text" id="edit-submitted-institution" name="submitted[institution]" value="" size="60" maxlength="128" class="form-text required">
                        </div>
                        <div class="form-item webform-component webform-component-textfield webform-component--department">
                          <label for="edit-submitted-department">Department <span class="form-required" title="This field is required.">*</span></label>
                         <input required="required" type="text" id="edit-submitted-department" name="submitted[department]" value="" size="60" maxlength="128" class="form-text required">
                        </div>
                        <div class="form-item webform-component webform-component-textfield webform-component--program">
                          <label for="edit-submitted-program">Division or Program <span class="form-required" title="This field is required.">*</span></label>
                         <input required="required" type="text" id="edit-submitted-program" name="submitted[program]" value="" size="60" maxlength="128" class="form-text required">
                         <div class="description">Provide the departmental division or institutional program in which this project will be completed</div>
                        </div>
                        <div class="form-item webform-component webform-component-textfield webform-component--e-mail">
                          <label for="edit-submitted-e-mail">E-Mail <span class="form-required" title="This field is required.">*</span></label>
                         <input required="required" type="text" id="edit-submitted-e-mail" name="submitted[e_mail]" value="" size="60" maxlength="128" class="form-text required">
                        </div>
                        <div class="form-item webform-component webform-component-number webform-component--phone-number">
                          <label for="edit-submitted-phone-number">Phone Number </label>
                         <input type="text" id="edit-submitted-phone-number" name="submitted[phone_number]" step="any" class="form-text form-number">
                        </div>
                        <div class="form-item webform-component webform-component-radios webform-component--type-of-study">
                          <label for="edit-submitted-type-of-study">Type of Study <span class="form-required" title="This field is required.">*</span></label>
                         <div id="edit-submitted-type-of-study" class="form-radios"><div class="form-item form-type-radio form-item-submitted-type-of-study">
                         <input required="required" type="radio" id="edit-submitted-type-of-study-1" name="submitted[type_of_study]" value="1" class="form-radio">  <label class="option" for="edit-submitted-type-of-study-1">This is an investigator-initiated, academic study performed at Vanderbilt. </label>

                        </div>
                        <div class="form-item form-type-radio form-item-submitted-type-of-study">
                         <input required="required" type="radio" id="edit-submitted-type-of-study-2" name="submitted[type_of_study]" value="2" class="form-radio">  <label class="option" for="edit-submitted-type-of-study-2">This is an investigator-initated, academic study performed at Vanderbilt and other collaborating academic institutions. </label>

                        </div>
                        <div class="form-item form-type-radio form-item-submitted-type-of-study">
                         <input required="required" type="radio" id="edit-submitted-type-of-study-3" name="submitted[type_of_study]" value="3" class="form-radio">  <label class="option" for="edit-submitted-type-of-study-3">This is an investigator-initatied, academic study performed with industry support. </label>

                        </div>
                        <div class="form-item form-type-radio form-item-submitted-type-of-study">
                         <input required="required" type="radio" id="edit-submitted-type-of-study-4" name="submitted[type_of_study]" value="4" class="form-radio">  <label class="option" for="edit-submitted-type-of-study-4">This is an industry-sponsored study performed with the assistance of a Vanderbilt investigator. </label>

                        </div>
                        </div>
                         <div class="description">Select the description that best matches the study you wish to perform.</div>
                        </div>
                        <div class="form-item webform-component webform-component-textarea webform-component--requested-materials">
                          <label for="edit-submitted-requested-materials">Requested Materials <span class="form-required" title="This field is required.">*</span></label>
                         <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea required="required" id="edit-submitted-requested-materials" name="submitted[requested_materials]" cols="60" rows="5" class="form-textarea required"></textarea><div class="grippie"></div></div>
                         <div class="description">Provide a description of the materials for which access is requested. This should include a description of the material, inclusion and exclusion criteria for specimen selection and how much material is needed.</div>
                        </div>
                        <div class="form-item webform-component webform-component-radios webform-component--administrative-requirements">
                          <label for="edit-submitted-administrative-requirements">Administrative Requirements <span class="form-required" title="This field is required.">*</span></label>
                         <div id="edit-submitted-administrative-requirements" class="form-radios"><div class="form-item form-type-radio form-item-submitted-administrative-requirements">
                         <input required="required" type="radio" id="edit-submitted-administrative-requirements-1" name="submitted[administrative_requirements]" value="1" class="form-radio">  <label class="option" for="edit-submitted-administrative-requirements-1">IRB approval is not required for this study (please indicate the reason below) </label>

                        </div>
                        <div class="form-item form-type-radio form-item-submitted-administrative-requirements">
                         <input required="required" type="radio" id="edit-submitted-administrative-requirements-2" name="submitted[administrative_requirements]" value="2" class="form-radio">  <label class="option" for="edit-submitted-administrative-requirements-2">an IRB application has been submitted or was approved (please provide the application title and IRB# below) </label>

                        </div>
                        <div class="form-item form-type-radio form-item-submitted-administrative-requirements">
                         <input required="required" type="radio" id="edit-submitted-administrative-requirements-3" name="submitted[administrative_requirements]" value="3" class="form-radio">  <label class="option" for="edit-submitted-administrative-requirements-3">an IRB application will be submitted in the near future (please note that project approval might be contingent on IRB approval) </label>

                        </div>
                        <div class="form-item form-type-radio form-item-submitted-administrative-requirements">
                         <input required="required" type="radio" id="edit-submitted-administrative-requirements-4" name="submitted[administrative_requirements]" value="4" class="form-radio">  <label class="option" for="edit-submitted-administrative-requirements-4">Further assistance is needed from the tissue committee to determine the need for IRB approval </label>

                        </div>
                        </div>
                         <div class="description">Select the statement that reflects the IRB requirements for this project</div>
                        </div>
                        <div class="form-item webform-component webform-component-textarea webform-component--background">
                          <label for="edit-submitted-background">Background <span class="form-required" title="This field is required.">*</span></label>
                         <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea required="required" id="edit-submitted-background" name="submitted[background]" cols="60" rows="5" class="form-textarea required"></textarea><div class="grippie"></div></div>
                         <div class="description">Provide relevant background information that led to the design of this study.</div>
                        </div>
                        <div class="form-item webform-component webform-component-textarea webform-component--hypothesis">
                          <label for="edit-submitted-hypothesis">Hypothesis <span class="form-required" title="This field is required.">*</span></label>
                         <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea required="required" id="edit-submitted-hypothesis" name="submitted[hypothesis]" cols="60" rows="5" class="form-textarea required"></textarea><div class="grippie"></div></div>
                         <div class="description">Provide a brief hypothesis and/or expected results</div>
                        </div>
                        <div class="form-item webform-component webform-component-textarea webform-component--technical-approach">
                          <label for="edit-submitted-technical-approach">Technical Approach <span class="form-required" title="This field is required.">*</span></label>
                         <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea required="required" id="edit-submitted-technical-approach" name="submitted[technical_approach]" cols="60" rows="5" class="form-textarea required"></textarea><div class="grippie"></div></div>
                         <div class="description">Provide a description of the technical approach, the measurements made and statistical strategies implemented. Have the specific approach been used used successfully? If so, has the data been published (provide citation)? </div>
                        </div>
                        <div class="form-item webform-component webform-component-textarea webform-component--Justification">
                          <label for="edit-submitted-justification">Justification <span class="form-required" title="This field is required.">*</span></label>
                         <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea required="required" id="edit-submitted-justification" name="submitted[Justification]" cols="60" rows="5" class="form-textarea required"></textarea><div class="grippie"></div></div>
                         <div class="description">Provide scientific and statistical justification for the resource requested. Please limit your description to less than 1 page.</div>
                        </div>
                        <div class="form-item webform-component webform-component-textarea webform-component--irb-approval">
                          <label for="edit-submitted-irb-approval">IRB Approval </label>
                         <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea id="edit-submitted-irb-approval" name="submitted[irb_approval]" cols="60" rows="5" class="form-textarea"></textarea><div class="grippie"></div></div>
                         <div class="description">If IRB approval has been obtained, please provide the title and IRB# along with the name of the PI of that IRB. If known, please provide the IRB approval type (Full, Expedited or Exempt)</div>
                        </div>
                        <div class="form-item webform-component webform-component-textfield webform-component--co-investigators">
                          <label for="edit-submitted-co-investigators">Co-Investigators <span class="form-required" title="This field is required.">*</span></label>
                         <input required="required" type="text" id="edit-submitted-co-investigators" name="submitted[co_investigators]" value="" size="60" maxlength="128" class="form-text required">
                         <div class="description">Please provide the name and contact information of the pathologist associated with the project along with those of additional relevant collaborators and co-investigators.</div>
                        </div>
                        <div class="form-item webform-component webform-component-textfield webform-component--personnel-description">
                          <label for="edit-submitted-personnel-description">Personnel Description </label>
                         <input type="text" id="edit-submitted-personnel-description" name="submitted[personnel_description]" value="" size="60" maxlength="128" class="form-text">
                         <div class="description">Optional: Feel free to provide personnel descriptions.</div>
                        </div>
                        <div class="form-item webform-component webform-component-textfield webform-component--additional-information-or-questions">
                          <label for="edit-submitted-additional-information-or-questions">Additional information or questions </label>
                         <input type="text" id="edit-submitted-additional-information-or-questions" name="submitted[additional_information_or_questions]" value="" size="60" maxlength="128" class="form-text">
                        </div>
                        <div class="form-item webform-component webform-component-textarea webform-component--note">
                          <label for="edit-submitted-note">Note </label>
                         <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea"><textarea id="edit-submitted-note" name="submitted[note]" cols="60" rows="5" class="form-textarea"></textarea><div class="grippie"></div></div>
                         <div class="description">Please note that access to patient specimens may require appropriate IRB approval and support from the Office of Research. Final approval of your request can be delayed until those applications are complete.</div>
                        </div>
                            <input type="hidden" name="details[sid]">
                            <input type="hidden" name="details[page_num]" value="1">
                            <input type="hidden" name="details[page_count]" value="1">
                            <input type="hidden" name="details[finished]" value="0">
                            <input type="hidden" name="form_build_id" value="form-_lLBb4-SLt7KkYtC5hMJETBE_jbn7M_oG_MZZtfq92E">
                            <input type="hidden" name="form_id" value="webform_client_form_3">
                            <input type="hidden" name="honeypot_time" value="1494254266|UGnMxWHXD25E4j6uwWfdvLnz_aM04Y-X24BZz728_lg">
                              <div class="homepage-textfield"><div class="form-item form-type-textfield form-item-homepage">
                                <label for="edit-homepage">Leave this field blank </label>
                               <input autocomplete="off" type="text" id="edit-homepage" name="homepage" value="" size="20" maxlength="128" class="form-text">
                              </div>
                            </div>
                            <div class="form-actions">
                              <input class="webform-submit button-primary btn" type="submit" name="op" value="Submit">
                            </div>
                          </div>
                        </form>
                      </div> <!-- /.content -->
                    </article> <!-- /.node -->
	                </div> <!-- /.content -->
                </div>
              </div>
            </div> <!-- /.block -->
	        </div> <!-- /.content -->
        </div>
      </div>
    </div> <!-- /.block -->
  </div>
</section>